header {
  text-align: center;
  background-color: black;
}
header img {
  width: 120px;
}

nav .contenedor-ul {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px gray;
}
nav .contenedor-ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav .contenedor-ul ul a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}
nav .contenedor-ul ul a:hover {
  font-size: large;
  filter: drop-shadow(1px 1px 10px #f5d65c);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #D1B99F;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html {
  height: 100%;
}

footer {
  margin-top: auto;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}

main .contenedor-menu {
  display: flex;
  flex-direction: column;
  background-color: #708238;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
main .contenedor-menu div.contenedor-titulo-menu {
  background-color: #A3B57D;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  padding: 0.3rem;
  border-radius: 5px;
  color: #333333;
  filter: drop-shadow(1px 1px 7px rgba(199, 166, 0, 0.4666666667));
}
main .contenedor-menu section {
  background-color: #A3B57D;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.5882352941);
}
main .contenedor-menu section div.contenedor-texto, main .contenedor-menu section div.contenedor-texto3, main .contenedor-menu section div.contenedor-texto2 {
  color: #333333;
  padding: 1rem;
  border: solid 1px #000000;
  margin: 1rem;
  border-radius: 5px;
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #101010;
  border: 1px solid black;
  margin-top: 1rem;
}
.footer ul {
  list-style-type: none;
}
.footer ul a {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  main .contenedor-menu {
    width: 704px;
    margin: 0 auto;
    margin-top: 1rem;
    justify-content: center;
    border-radius: 5px;
  }
  main .contenedor-menu section div.contenedor-menu1, main .contenedor-menu section div.contenedor-menu3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px);
  }
  main section div.contenedor-cajas-horarios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main section div.contenedor-acerca-de {
    width: 736px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 540px) {
  div.contenedor-cartas, div.contenedor-carta2 {
    width: 532px;
    margin: 3rem auto;
  }
  div.titulo-main-index {
    width: 521px;
    margin: 3rem auto;
  }
}
main section .contenedor-titulo {
  display: flex;
  justify-content: center;
}
main section .contenedor-titulo .caja-titulo-reservation {
  width: 265px;
  margin: 0 auto;
  color: #333333;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.3rem 0.5rem;
  background-color: #708238;
  text-align: center;
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.5882352941);
}
main section .contenedor-titulo .caja-titulo-reservation h1 {
  font-size: 25px;
}
main section .contenedor-titulo .caja-titulo-reservation h3 {
  font-size: 15px;
}
main section div.container-reserva div.caja-reserva {
  width: 265px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #708238;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.5882352941);
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section div.container-reserva div.caja-reserva div:nth-child(1) {
  padding: 1rem;
}
main section div.container-reserva div.caja-reserva div:nth-child(2) {
  padding: 1rem;
}
main section div.container-reserva div.caja-reserva div:nth-child(3) {
  padding: 1rem;
}
main section div.boton-reserva {
  width: 39.55px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
main section div.boton-reserva button {
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #9E2A2F;
  color: white;
}
main section div.boton-reserva button:active {
  border: solid 1px #C7A500;
}

main section div.caja-acerca-de-titulo {
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.5882352941);
  background-color: #708238;
  text-align: center;
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  color: white;
}
main section div.contenedor-texto-img {
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.5882352941);
  border-radius: 5px;
  text-align: justify;
  color: white;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #708238;
}
main section div.contenedor-texto-img div.contenedor-acerca-de-img {
  text-align: center;
}
main section div.contenedor-texto-img div.contenedor-acerca-de-img img {
  border-radius: 5px;
  width: 300px;
  margin-bottom: 3rem;
  transition: 1s;
}
main section div.contenedor-texto-img div.contenedor-acerca-de-img img:hover {
  transform: scale(1.5);
}

main section div.contenedor-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}
main section div.contenedor-tittle div.caja-titlle-horarios {
  color: #333333;
  background-color: #708238;
  text-align: center;
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.5882352941);
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  filter: drop-shadow(1px 1px 7px rgba(199, 166, 0, 0.4666666667));
}
main section div.contenedor div.cajas-horarios {
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.5882352941);
  transform: scale(1.3);
  text-align: center;
  color: #333333;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin: 1rem;
  background-color: #708238;
}
main section div.contenedor div.cajas-horarios ul {
  list-style-type: none;
}

div.contenedor-texto-section1, div.contenedor-texto-section2 {
  color: #333333;
  font-size: 1rem;
  margin-top: 0.3rem;
  padding-top: 2rem;
  padding: 0.6rem;
}
div.contenedor-texto-section1 p:nth-child(1), div.contenedor-texto-section2 p:nth-child(1) {
  font-size: 1rem;
}
div.contenedor-texto-section1 h3:nth-child(2), div.contenedor-texto-section2 h3:nth-child(2) {
  font-size: 2rem;
  text-align: center;
}
div.contenedor-texto-section1 p:nth-child(3), div.contenedor-texto-section2 p:nth-child(3) {
  padding: 1rem;
}

div.contenedor-cartas, div.contenedor-carta2 {
  border-radius: 5px;
  background-color: rgba(161, 161, 161, 0.2274509804);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  justify-content: center;
  padding-bottom: 50px;
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.5882352941);
  background-color: #708238;
}
div.contenedor-cartas img:nth-child(1), div.contenedor-carta2 img:nth-child(1) {
  transition: 1s;
}
div.contenedor-cartas img:nth-child(1):hover, div.contenedor-carta2 img:nth-child(1):hover {
  transform: scale(2.5);
}

img {
  width: 120px;
  border-radius: 5px;
}

main .titulo-main-index {
  box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.5882352941);
  border-radius: 5px;
  background-color: rgba(161, 161, 161, 0.4666666667);
  background-color: #708238;
}
main .titulo-main-index h2 {
  text-align: center;
  padding: 1rem;
  margin: 3rem auto;
  color: #333333;
}

@media screen and (min-width: 1024px) {
  div.contenedor-absoluto {
    display: flex;
  }
  div.contenedor-cartas, div.contenedor-carta2 {
    width: 450px;
    margin: 3rem auto;
  }
  div.contenedor-texto-section1 div:nth-child(4), div.contenedor-texto-section2 div:nth-child(4) {
    margin-bottom: 4rem;
  }
}
.boton-section1, .boton-section2 {
  background-color: #9E2A2F;
  margin: 0px 100px;
  padding: 1rem;
  border-radius: 5px;
}
.boton-section1:hover, .boton-section2:hover {
  border: solid 1px #C7A500;
  transition: 500ms;
}
.boton-section1 a, .boton-section2 a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  a {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
