@import "../utilities/variables";
main{
    section{
        div.caja-acerca-de-titulo{
            box-shadow: 1px 1px 20px 7px #00000096;
            background-color: $color-oliva;
            text-align: center;
            margin: 1rem;
            border-radius: 5px;
            padding: 1rem;
            color: white;
        }
        div.contenedor-texto-img{
            box-shadow: 1px 1px 20px 7px #00000096;
            border-radius: 5px;
            text-align: justify;
            color: white;
            padding: 1rem;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $color-oliva;
            
            div.contenedor-acerca-de-img{
                text-align: center;
                img{
                    border-radius: 5px;
                    width: 300px;
                    margin-bottom: 3rem;

                        transition: 1s;
                        &:hover {
                            transform: scale(1.5);
                        }
                }
            }
        }
    }

}
