@import "../utilities/variables";
main{
    section{
        div.contenedor-tittle{             
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 1rem ;

            div.caja-titlle-horarios{
                color: $color-palabas;
                background-color:$color-oliva;
                text-align: center;
                box-shadow: 1px 1px 20px 7px #00000096;
                margin: 1rem;
                border-radius: 5px;
                padding: 1rem;
                filter: drop-shadow(1px 1px 7px #c7a60077); 

            }
        }

        div.contenedor{
            div.cajas-horarios{
                box-shadow: 1px 1px 20px 7px #00000096;
                transform: scale(1.3);
                text-align: center;
                color: $color-palabas;
                border-radius: 5px;
                padding: 1rem;
                margin-top: 5rem;
                margin-bottom: 1rem;
                margin: 1rem;
                background-color: $color-oliva;
                ul{
                    list-style-type: none;
                }
            }
        }
    }
}