@import "../utilities/variables";


div.contenedor-cartas{
    
    border-radius: 5px  ;
    background-color: #a1a1a13a;    
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    padding-bottom: 50px;
    box-shadow: 1px 1px 20px 7px #00000096;
    background-color:  $color-oliva;

    img:nth-child(1) {
        transition: 1s;
        &:hover {
            transform: scale(2.5);
        }
    }    
}



img {   
    width: 120px;
    border-radius: 5px;
}

.contenedor-carta2{
    @extend .contenedor-cartas
}

