main{
    .titulo-main-index {
        box-shadow: 1px 1px 20px 7px #00000096;
        border-radius: 5px;
        background-color: #a1a1a177;
            background-color:  #708238;

        h2 {
            text-align: center;
            padding: 1rem;
            margin: 3rem auto;
            color: #333333;
        }
    }
}